requests
PyMuPDF
python-docx
faiss-cpu
datasets
mysql-connector-python
python-dotenv
loguru
sentence-transformers
ipywidgets
openpyxl
pandas
flask
flask-cors
beautifulsoup4
accelerate>=0.26.0
Werkzeug
paramiko
groq
authlib
